<% if flash[:notice] %><div id="content_information"><%= flash[:notice] %></div><% end %>

<table id="app_table">
	<tr>
		<th>Index</th>
		<th>Latest Activity</th>
	</tr>
	<tr>
		<td><%= link_to "Appointments", appointments_path, :class => 'button' %></td>
		<td><%= @latest_appointment %></td> 
	</tr>
</table>
