<p id="notice"><%= notice %></p>

<table id="app_table">
	<tr>
		<th>Index</th>
		<th>Latest Activity</th>
	</tr>
	<tr>
		<td><%= link_to "Appointments", appointments_path, :class => 'button' %></td>
		<td><%= @latest_appointment %></td> 
	</tr>
</table>
