<% if flash[:notice] %><div id="content_information"><%= flash[:notice] %></div><% end %>

<table id="app_table">
	<tr>
		<th>Index</th>
		<th>Latest Activity</th>
	</tr>
	<tr>
		<td><%= link_to "Appointments", appointments_path, :class => 'button' %></td>
		<td><%= @latest_appointment.nil? ? "none" : link_to(@latest_appointment.name, appointment_path(@latest_appointment), :class => @latest_appointment.important ? 'ibutton' : 'button') %></td> 
	</tr>
</table>
