* {
	font-family: Verdana;
}

body {
	width: 1024px;
	height: 800px;
	margin: auto;
}

#header {
	background-color: blue;
}

#content {
	background-color: yellow;
}

#footer {
	background-color: purple;
}
