* {
	font-family: Verdana;
}

body {
	width: 1024px;
	background-color: black;
	height: auto;
	margin: auto;
}

#header {
	border-style: solid;
	border-width: 2px;	
	border-color: white;
	height: 100px;
}

#menu {
	background-color: blue;
	padding-left: 10px;
	height: 20px;
}

.menuitem {
	width: 50px;
	display: inline;
	margin-right: 40px;
}

#notice {
	color: green;
	font-size: 0.8em;
}

#error_explanation {
	color: red;
	font-size: 0.8em;
}

.button {
	background-color: blue;
}

#content {
	height: 300px;
	background-color: white;
	padding: 20px;
	overflow: auto;
}

#footer {
	border-style: solid;
	border-width: 2px;	
	border-color: white;
	height: 100px;
}

a:link {
	text-decoration: none;
	color: yellow;
}

a:visited {
	text-decoration: none;
	color: yellow;
} 

a:hover {
	text-decoration: none;
	color: yellow;
}

a:active {
	text-decoration: none;
	color: yellow;
}

h1 {
	font-size: 1.5em;
}
