* {
	font-family: Verdana;
	margin: 0;
}

html, body {
	height: 100%;
}

#page_bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('/assets/background_jumphost.png')
}

#container {
	position: absolute;
	height: 50%;
	top: 15%;
	bottom: 25%;
	width: 70%;
	left: 15%;
	right: 15%;
}

#menu_top {
	background-color: #969696;
	padding-left: 10px;
	height: 20px;
	opacity: 0.8;
}

#menu_bot {
	background-color: #969696;
	padding-left: 10px;
	height: 20px;
	opacity: 0.8;
}

.menulink {
	font-weight: bold;
}

.menuitem {
	width: 50px;
	display: inline;
	margin-right: 40px;
}

#notice {
	color: green;
	font-size: 0.8em;
}

#error_explanation {
	color: red;
	font-size: 0.8em;
}

.button {
	margin-top: 10px;
	color: yellow !important;
	opacity: 0.6;
}

#content {
	background-color: black;
	height: auto;
	min-height: 400px;
	color: white;
	opacity: .9;
	padding: 20px;
	overflow: auto;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
} 

a:hover {
	text-decoration: none;
	color: black;
}

a:active {
	text-decoration: none;
	color: black;
}

h1 {
	font-size: 1.5em;
}
#app_table td {
	word-break: break;
	max-width: 450px;
 	word-wrap: break-word;
	border: 1px, solid;
	border-color: yellow;
}

#app_table {
	width: 100%;
	text-align: left;
	padding: 10px;
}

#left_corner {
	width: 50%;
	display: inline;
	float:left;
}

#right_corner {
	width: 50%;
	display: inline;
	float: right;
}
